<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
 
    <bean id="customerDAO" class="database.dao.CustomerDAOImpl">
    <property name="dataSource" ref="dataSource" />
</bean>

	<!-- 												 -->
	<!-- 	P R O P E R T Y  C O N F I G U R A T I O N 	 -->
	<!-- 												 -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:SApp.properties</value>
			</list>
		</property>
	</bean>   
     
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
 
        <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
        <property name="url" value=${url} />
        <property name="username" value=${username} />
        <property name="password" value=${password} />

<!--        <property name="username" value="HIPLUSAGE" />
        <property name="password" value="h1plusage01" />-->

    </bean>
 
</beans>